{% extends "base.html" %}
{% block content %}
    <div class="container">
      <h1 class="center-text">Travel Planner</h1>

      <h2>Schedule of {{ business_partner.name }}</h2>

      <h3>Flights</h3>
      <ul>
        {% for flight in flights %}
        <li>
          {{ flight.flight_number }}: {{ flight.departure_location }} to 
          {{ flight.arrival_location }} from {{ flight.departure|date:"F j, Y, g a" }} to 
          {{ flight.arrival|date:"F j, Y, g a" }}
        </li>
        {% endfor %}
      </ul>

      <h3>Hotel Bookings</h3>
      <ul>
        {% for hotel_booking in hotel_bookings %}
        <li>
          {{ hotel_booking.hotel_name }}: {{ hotel_booking.location }} from 
          {{ hotel_booking.check_in_date|date:"F j, Y, g a" }} to 
          {{ hotel_booking.check_out_date|date:"F j, Y, g a" }}
        </li>
        {% endfor %}
      </ul>

      <h3>Meetings</h3>
      <ul>
        {% for meeting in meetings %}
        <li>
          {{ meeting.title }}: {{ meeting.location }} from 
          {{ meeting.start_time|date:"F j, Y, g a" }} to 
          {{ meeting.end_time|date:"F j, Y, g a" }}
        </li>
        {% endfor %}
      </ul>
    </div>
{% endblock content %}