<!DOCTYPE html>
<html>
  <head>
    <title>{{ business_partner.name }} Schedule</title>
  </head>
  <body>
    <h1>{{ business_partner.name }} Schedule</h1>

    <h3>Flights</h3>
    <ul>
      {% for flight in flights %}
      <li>
        {{ flight.flight_number }}: {{ flight.departure_location }} to {{
        flight.arrival_location }} from {{ flight.departure|date:"F j, Y, g a"
        }} to {{ flight.arrival|date:"F j, Y, g a" }}
      </li>
      {% endfor %}
    </ul>

    <h2>Hotel Bookings</h2>
    <ul>
      {% for hotel_booking in hotel_bookings %}
      <li>{{ hotel_booking.hotel_name }}: {{ hotel_booking.location }}</li>
      {% endfor %}
    </ul>

    <h2>Meetings</h2>
    <ul>
      {% for meeting in meetings %}
      <li>{{ meeting.title }}: {{ meeting.location }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
